body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.orden-medica {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}

form {
    margin-top: 20px;
}

.columnas {
    display: flex;
    justify-content: space-between;
}

.columna {
    width: 48%;
}

#datosAdicionales p {
    margin: 8px 0;
    padding: 8px;
    background-color: #f4f4f4;
    border-radius: 4px;
    border: 1px solid #ccc;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

.cajon {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #000;
    border-radius: 8px;
}

h2 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.botones {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}